<%= stylesheet_link_tag "selected_events", :media => "all" %> 

<div class="selected_event_box">
  <div class="selected-event-photo">
    <% if event.photo_url %>
      <img src="<%= event.photo_url %>" >
    <% else %>
      <%= image_tag event.photo.url(:strip) %>
    <% end %>
  </div>
  <div class="selected-event-name">
    <h2><%= link_to event.name, event_path(event) %></h2>
      <div id='selected-event-info'>
        <h3><%= event.artist.name %></h3>
        <p><%= event.venue %></p>
        <p><%= event.date.strftime("%m/%d/%Y") %> - <%= event.time.strftime("%I:%M%p") %></p>
      </div>
  </div>
  <div class='remove-event confirmable'>
    <%= button_to('Remove', selected_event_path(selected_event), class: 'btn btn-large btn-primary', method: :delete, data: {confirm: 'Are you sure?' })%>
    <p class='are_you_sure'><em>Are you sure?</em></p>
  </div>
</div>
