<!-- <h2><%= link_to event.name, event_path(event) %></h2>
  <h3>Artists: <%= event.artist %></h3>
  <div class="description">
    <p><%= event.description %></p>
  </div>
  <p>Genre:<%= event.genre %></p>
  <p>Venue: <%= event.venue %></p>
  <p>Date: <%= event.date %></p>
  <p>Time: <%= event.time %></p>
  <p>Info: <a href="http://<%= event.url %>"><%= event.url %></a>
   - <%= event.email %> </p>

  <p>not your thing? Simples, just click to remove this from your events!</p>

  <%= button_to('Remove', selected_event_path(selected_event), class: 'btn btn-large btn-primary', method: :delete, data: {confirm: 'Are you sure?' })%> -->

<div class="event-box">
  <span class="event-photo">
    <%= image_tag event.photo.url(:strip) %>
  </span>
  <span class="event-name">
    <h2><%= link_to event.name, event_path(event) %></h2>
    <span id='event-info'>
    <h3><%= event.artist %></h3>
    <p><%= event.genre %></p>
    <p><%= event.venue %></p>
    <p><%= event.date %> - <%= event.time %></p>
<!--     <a href="http://<%= event.url %>"><%= event.url %></a>  --> <%#= event.email %> 
    </span>
  </span>
  <div class='remove-event confirmable'>
    <p>not your thing? Simples, just click to remove this from your events!</p>
    <%= button_to('Remove', selected_event_path(selected_event), class: 'btn btn-large btn-primary', method: :delete, data: {confirm: 'Are you sure?' })%>
    <p class='are_you_sure'>Are you sure?</p>
  </div>
</div>
