<h2>Well aren't these selected_events just the coolest thing</h2>

<div class="event_box">

  <% unless current_user.interested_events.any?  %>
    <div class="warning">
       <h4>Oh no! It seems you dont have any selected events, go and find some!!!</h4>
    </div>
  <% else %>

    <% current_user.interested_events.each do |event| %>
      <h2><%= link_to event.name, event_path(event) %></h2>
      <%= event.artist %>
      <%= event.genre %>

      <div class="description">
        <%= event.description %>
      </div>

      <%= event.venue %>
      <%= event.date %>
      <%= event.time %>
      <span><%= event.url %>  <%= event.email %> </span> 

      not your thing? Simples, just click to remove this from your events!
      <%= button_to('Remove', selected_events_path(@selected_event), class: 'btn btn-large btn-primary', method: :delete, data: {confirm: 'Are you sure?' })%>
  </div>
    <% end %>
  <% end %>






    <h3><%#= @event = Event.find(SelectedEvent.find(@selected_events.id).event_id) %></h3>
    