<h2>Well aren't these selected_events just the coolest thing</h2>

 <div class="event_box">


<% @selected_events.each do |event| %>

<% @event = Event.find(event.id) %>
<%= @event.artist %>
    <%= @event.genre %>

    <div class="description">
      <%= @event.description %>
    </div>

    <%= @event.venue %>
    <%= @event.date %>
    <%= @event.time %>
    <span><%= @event.url %>  <%= @event.email %> </span> 

   
  </div>
<% end %>






    <h3><%#= @event = Event.find(SelectedEvent.find(@selected_events.id).event_id) %></h3>
    