<h2><%= link_to event.name, event_path(event) %></h2>
  <%= event.artist %>
  <%= event.genre %>

  <div class="description">
    <%= event.description %>
  </div>

  <%= event.venue %>
  <%= event.date %>
  <%= event.time %>
  <span><%= event.url %>  <%= event.email %> </span> 

  not your thing? Simples, just click to remove this from your events!



  <%= button_to('Remove', selected_event_path(event), class: 'btn btn-large btn-primary', method: :delete, data: {confirm: 'Are you sure?' })%>
