

<% @events.each do |event| %>

  <div class="event-box">
    <span class="event-photo">
      <%= image_tag event.photo.url(:strip) %>
    </span>
    <span class="event-name">
      <%= link_to event.name, event_path(event) %>
      <span id='event-info'>
      <%= event.artist %> <br>
      <%#= event.genre %>
      <%= event.venue %><br>
      <%= event.date %>
      <%#= event.time %>
      <%= event.url %>  <%#= event.email %> 
      </span>
    </span>
  </div>
  <br>
<% end %>

<%= link_to 'Add an event', new_event_path %> 

