

<h1>Listings</h1>

<% @events.each do |event| %>

  <div class="event_box">
    <div><h2><%= link_to event.name, event_path(event) %></h2> </div>
    <h3><%= event.artist %></h3>
    <%= event.genre %>
    <%= event.venue %>
    <%= event.date %>
    <%= event.time %>
    <span><%= event.url %>  <%= event.email %> </span> 
  </div>
  <br>
<% end %>

<%= link_to 'Add an event', new_event_path %> 

