<h1>Listings</h1>

<% @events.each do |event| %>

  <div class="event_box">
    <div><%= event.name %> </div>
    <%= event.artist %>
    <%= event.genre %>
    <%= event.venue %>
    <div> <%= event.description %> </div>
    <%= event.date %>
    <%= event.time %>
    <span><%= event.url %>  <%= event.email %> </span> 
  </div>
  <br>
<% end %>

<%= link_to 'Add an event', new_event_path %> 