<%= form_for @event, html: {class: "nifty_form", :multipart => true } do |f| %>
  
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this film from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %><br>
  <%= f.text_field :name, placeholder: "Event Name" %><br>

  <%= f.label :artist %><br>
  <%= f.text_field :artist, placeholder: "Artists Playing" %><br>
  
  <%= f.label :genre %><br>
  <%= f.text_field :genre, placeholder: "Genres" %><br>

  <%= f.label :venue %><br>
  <%= f.text_field :venue, placeholder: "What Venue?" %><br>

  <%= f.label :url %><br>
  <%= f.text_field :url, placeholder: "Web Address" %><br>

  <%= f.label :email %><br>
  <%= f.text_field :email, placeholder: "Contact Email" %><br>

  <%= f.label :date %><br>
  <%= f.date_field :date%><br>

  <%= f.label :time %><br>
  <%= f.time_field :time%><br>

  <%= f.label :description %><br>
  <%= f.text_area :description, placeholder: "Add a description of the event", size: "100x10"%><br>  

  <%= f.label :photo %>
  <%= f.file_field :photo %>

  <%= f.submit "create" %>

<% end %>