<%= form_for @event, html: {class: "nifty_form", :multipart => true } do |f| %>
  
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this film from being saved:</h2>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "Event Name" %>

  <%= f.label :artist %>
  <%= f.text_field :artist, placeholder: "Artists Playing" %>
  
  <%= f.label :genre %>
  <%= f.text_field :genre, placeholder: "Genres" %>

  <%= f.label :venue %>
  <%= f.text_field :venue, placeholder: "What Venue?" %>

  <%= f.label :url %>
  <%= f.text_field :url, placeholder: "Web Address" %>

  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "Contact Email" %>

  <%= f.label :date %>
  <%= f.date_field :date%>

  <%= f.label :time %>
  <%= f.time_field :time%>

  <%= f.label :description %>
  <%= f.text_area :description, placeholder: "Add a description of the event", size: "100x10"%>  

  <%= f.label :photo %>
  <%= f.file_field :photo %>

  <%= f.submit "create" %>

<% end %>