<div class="show-box">
  <div class="event-photo-large">
    <%if @event.genre == 'Concert' %>
      <%= image_tag "floyd.jpg" %>
    <% else %>
      <%= image_tag @event.photo.url(:large) %>
    <% end %>
  </div>
  <h2><%= @event.name %></h2>
    <h3>Artists: <%= @artist.name %></h3>
  <% if user_signed_in? %>
    <% if current_user.artists.include?(@artist) %>
      <p> You are currently following this artist</p>
    <% else %>
      <%= button_to 'Follow Artist', selected_artists_path(artist_id: @event.artist_id) %>
    <% end %>
  <% end %>
  <div class="description">
    <p>
      Description: <%= @event.description %>
    </p>
  </div>
  <p>Venue: <%= @event.venue %></p>
  <p>Date: <%= @event.date %></p>
  <p>Time: <%= @event.time %></p>
  <p>Genre: <%= @event.genre %></p>
  <p>Info: <a href=http://<%= @event.url %>><%= @event.url %></a>  <%= @event.email %></p>    

<% if user_signed_in? %>  
  <% if current_user.events.include?(@event) %>
    <p>You've already selected this event.</p>
  <% else %>
    <h4>Like the look of this event? Add it to your 'Selected Events' feed!!</h4>
    <%= button_to('Include', selected_events_path(event_id: @event.id), class: 'btn btn-large btn-primary') %>
  <% end %>

  
  <% if current_user.id == @event.user_id %>
    <%= link_to('Edit event', edit_event_path(@event), class: 'btn btn-large btn-primary')  %>
    <%= button_to('Delete Event', event_path(@event), class: 'btn btn-large btn-primary', method: :delete, data: {confirm: 'Are you sure?' }) %>
 <% end %>
<% end %>
</div>

<%= link_to 'Back', events_path %>
