<div class="show-box">
  <div class="event-photo-large">
    <%if @event.photo.url %>
    <%= image_tag @event.photo.url(:large) %>
    <% end %>
  </div>
  <h2><%= @event.name %></h2>
  <h3>Artists: <%= @event.artist %></h3>
  <div class="description">
    <p>
      <%= @event.description %>
    </p>
  </div>
  <p>Venue: <%= @event.venue %></p>
  <p>Date: <%= @event.date %></p>
  <p>Time: <%= @event.time %></p>
  <p>Genre: <%= @event.genre %></p>
  <p>Info: <%= @event.url %>  <%= @event.email %></p>    

<% if user_signed_in? %>
  <h4>Like the look of this event? Add it to your 'Selected Events' feed!!
<%= button_to 'Include', selected_events_path(event_id: @event.id) %></h4>
<%= button_to 'Edit event', edit_event_path(@event) %>
 <% if current_user.id == @event.user_id %>
   <%= button_to 'Delete Event', event_path(@event), method: :delete, data: {confirm: 'Are you sure?' } %>
 <% end %>
<% end %>
</div>

<%= link_to 'Back', events_path %>
