<h2>Event: <%= @event.name %></h2>


  <div class="event_box">
    
    <h3><%= @event.artist %></h3>
    <%= @event.genre %>

    <div class="description">
      <%= @event.description %>
    </div>

    <%= @event.venue %>
    <%= @event.date %>
    <%= @event.time %>
    <span><%= @event.url %>  <%= @event.email %> </span> 
    <%= image_tag @event.photo.url(:medium) %>
     </div>
 
<% if user_signed_in? %>
  <h4>Like the look of this event? Add it to your 'Selected Events' feed!!</h4>
  <%= button_to 'dammthislookscool', selected_events_path(event_id: @event.id) %> 
  <%= link_to 'Edit event', edit_event_path(@event) %>
  <%= button_to 'Delete Event', event_path(@event), method: :delete, data: {confirm: 'Are you sure?' } %>
 <% end %>


<%= link_to 'Back', events_path %>
