<!DOCTYPE html>
<html>
<head>
  <title>NiteLife</title>
  <!-- TODO - ANOTHER ATTEMPT AT FONTS. -->
  <!-- <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'> -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>

  <body>
    <div class="header" style="font-family: 'Cabin', sans-serif">
      <div class="title">niteLife </div>
      <canvas id="canvas" width="768" height="200"></canvas>
      <script src="photo.js"></script>
      
    </div>
      
    <div class="navbar">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

              <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><%= link_to 'Home', events_path %></a></li>
              <% if user_signed_in? %>
              <li><%= link_to 'Your events', user_events_path %></li>
              <li><%= link_to 'Epic stuff', selected_events_path %></li>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
              <% else %>
              <li><%= link_to('Login', new_user_session_path)  %></li>
              <% end %> 
            </ul>
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <%=form_tag events_path, :method => 'get' do %>
                <%= text_field_tag(:search, params[:search], class: 'form-control') %>
              </div>
                <%= submit_tag("Search", :name => nil, class: "btn") %>
                <% end %>
            </form>
          </div><!-- /.navbar-collapse -->
        </div> 
      </nav> 
    </div>
    <h4 class="notice"><%= notice %></h4>
    <h4 class="alert"><%= alert %></h4>


    <%= yield %>

    


    
    <!-- TODO - CHANGE THIS TO IMAGE OF TRAFALGA SQUARE -->

    <div class="footer">
      Yup, this is a footer. wooop!
    </div>
  </body>
  </html>
