<!DOCTYPE html>
<html>
  <head>
    <title>NiteLife</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
      <%= stylesheet_link_tag    "normal/application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= render 'layouts/header' %>
  
    <%= render 'layouts/sidebar' %>

    <% if notice %>
      <h4 class="notice"><%= notice %></h4>
    <% end %>

    <% if alert %>
      <h4 class="alert"><%= alert %></h4>
    <% end %>

    <%= yield %>
    <div id="message"></div>
<%= image_tag "python_foot.png", :id => "python", :style => "display:none" %>
              


    <div class="footer">
      <p><a href="#" id="buttonx">NiteLife</a><%= image_tag('note.png', :alt => 'banana logo', :class => 'banana') %></p>
    </div>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <%= image_tag "raptor.png", :id => "elRaptor", :style => "display:none" %>
    <%= javascript_include_tag 'libs/canvas_scroll' %>
  </body>
</html>
