<!DOCTYPE html>
<html>
<head>
  <title>NiteLife</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header">
    <% if user_signed_in? %>
        <ul>
          <li>
              <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
            <% else %>
          <li>
              <%= link_to('Login', new_user_session_path)  %>  
          </li>
         </ul>    
      <% end %>

      <div>
        <%=form_tag events_path, :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
        <% end %>
      </div>
    </div>


<%= yield %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
</body>
</html>
